<mat-card class="main-card">
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Duration">
        <app-usage-duration-tab
          (selectedDurationEmitter)="onSelectedDurationChange($event)"
          (selectedDeadlineEmitter)="onSelectedDeadlineChange($event)"
        ></app-usage-duration-tab>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<mat-card class="main-card" *ngIf="optimalIntensityPeriod?.intensity?.forecast ?? 0 > 0">
  <mat-card-header>
    <mat-card-title>Result</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Start usage at <strong>{{ optimalIntensityPeriod.from | date:datetimeFormat }}</strong>, finishing at <strong>{{ optimalIntensityPeriod.to | date:datetimeFormat }}</strong>
    </p>
    <p>
      During this period, the average carbon intensity is forecast to be <strong>{{optimalIntensityPeriod.intensity.index}}</strong> at <strong>{{optimalIntensityPeriod.intensity.forecast | number:'1.0-3'}} gCO<sub>2</sub>/kWh</strong>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Filters</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Region
          </mat-panel-title>
          <mat-panel-description>
            {{selectedRegionString}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <mat-select [(value)]="selectedRegionString" (selectionChange)="onSelectedRegionChange()">
            <mat-option *ngFor="let region of regionOptions" [value]="region">
              {{region}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Time
          </mat-panel-title>
          <mat-panel-description>
            {{selectedTimeStartString}} - {{selectedTimeEndString}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <input
            matInput
            type="time"
            [(ngModel)]="selectedTimeStartString"
            (change)="onSelectedTimeStartChange()"
          />
        </mat-form-field>
        -
        <mat-form-field appearance="fill">
          <input
            matInput
            type="time"
            [(ngModel)]="selectedTimeEndString"
            (change)="onSelectedTimeEndChange()"
          />
        </mat-form-field>

        <button mat-raised-button class="clear-button" (click)="onClearTimeClick()">
          Clear
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
